{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.{cmp,component,css,html,js,json,md,page,xml,yaml,yml}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.cls",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
